doctype html
html
  head
    title Home page
  body
    h1 Yeeee you are in :)
    div
      p
        | Hi kevin you are in my local server, how do I do that? :) well I use a tool named
        strong ngrok
        | that tool allow me to expose a local folder to the web and use my Express server
        | So for that reason you see this page GREAT!! :D
