doctype html
html(ng-app="storeApp")
  head
    title
      | Example Store App
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js")
    script(type="text/javascript", src="/js/bundle.js")
  body(ng-controller="storeAppCtrl")
    div(class="navbar navbar-inverse")
      a(href="#", class="navbar-brand") SPORT STORE
    div(class="panel panel-default row")
      .col-xs-3
        a(ng-click="selectCategory()", class="btn btn-block btn-default btn-lg") Home
        a(ng-repeat="item in data.products | orderBy: 'category' | unique: 'category'", ng-click="selectCategory(item)", class="btn btn-block btn-default btn-lg") {{item}}
      .col-xs-8
        div(class="well", ng-repeat="item in data.products")
          h3
            strong {{item.name}}
            span(class="pull-right label label-primary") {{item.price | currency}}
          span(class="lead") {{item.description}}
