doctype html
head(ng-app="exampleApp")
  title
    block title
  link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js")
  block customScripts
body
  block content
